spring:
  application:
    name: hidraulica-caacupe-backend

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

server:
  port: ${SERVER_PORT:8080}

app:
  jwt:
    secret: ${APP_JWT_SECRET:dev-secret-cambiar}
    expiration-minutes: ${APP_JWT_EXP_MINUTES:480}

logging:
  level:
    org.springframework.boot.context.config: DEBUG
